<!-- Bootstrap template from https://startbootstrap.com/snippets/portfolio-item/-->

<% include ../partials/header %>


            <h1>Congratulations, You Have Won The Auction!!!!</h1>
                <h2>Please Continue to Checkout!</h2>
 <% res.forEach(function(item) { %>
         
                    
            <!-- Page Content -->
            <div class="container">
            
              <!-- Portfolio Item Heading -->
              <h1 class="my-4"><%= item.album %>
                <small>By <%= item.artist %></small>
              </h1>
            
              <!-- Portfolio Item Row -->
              <div class="row">
            
                <div class="col-md-8">
                  <img style="width:100%" class="img-fluid" src="/<%= item.image %>" alt="">
                </div>
            
                <div class="col-md-4">
                  <h3 class="my-3">Product Description</h3>
                  <p><%= item.info %></p>
                  <h3 class="my-3">Details</h3>
                  <ul>
                    <li>Lorem Ipsum</li>
                    <li><%= item.genre %></li>
                    <li><%= item.purpose %></li>
                    <li>&euro; <%= parseFloat(item.price).toFixed(2) %></li>
                  </ul>
                    <form action="/pay" method="post">
                      <input type="submit" value="Pay with Paypal" class="btn btn-dark rounded-pill py-3 btn-block">
                    </form>
                </div>
            
              </div>
              <!-- /.row -->
 <% }); %>
 

 


<% include ../partials/footer %>