<!-- Bootstrap template from https://startbootstrap.com/snippets/portfolio-item/-->

<% include ../partials/header %>


 <% res.forEach(function(item) { %>
         
                    
            <!-- Page Content -->
            <div class="container">
            
              <!-- Portfolio Item Heading -->
              <h1 class="my-4"><%= item.album %>
                <small>By <%= item.artist %></small>
              </h1>
            
              <!-- Portfolio Item Row -->
              <div class="row">
            
                <div class="col-md-8">
                  <img style="width:100%" class="img-fluid" src="/<%= item.image %>" alt="">
                </div>
            
                <div class="col-md-4">
                  <h3 class="my-3">Product Description</h3>
                  <p><%= item.info %></p>
                  <h3 class="my-3">Details</h3>
                  
                  <ul>
                   
                    <li><%= item.genre %></li>
                    <li><%= item.purpose %></li>
                    <li>&euro; <%= parseFloat(item.price).toFixed(2) %></li>
                  </ul>
                </div>
            
              </div>
              <!-- /.row -->
 <% }); %>
 

 
 <% res.forEach(function(item) { %>
 
 <form accept-charset="UTF-8" style="" action="/bid/<%= item.id %>" method="post" enctype="multipart/form-data" id="uploadForm" ref="uploadForm">    
    
    <div class="form-group row">
       
        <div class="col-md-6">
            <input name="artist" type="hidden" class="form-control" placeholder="Enter Artist Name" value="<%= item.artist %>" />
        </div>
    </div>
    
    <div class="form-group row">
       
        <div class="col-md-6">
            <input name="Id" type="hidden" class="form-control" placeholder="Enter Artist Name" value="<%= item.Id %>" />
        </div>
    </div>
    
    <div class="form-group row">
        
        <div class="col-md-6">
            <input name="album" type="hidden" class="form-control" placeholder="Enter Album Name" value="<%= item.album %>" />
        </div>
    </div>
    
    <div class="form-group row">
        
        <div class="col-md-6">
             <input name="image" type="hidden" class="form-control" value="<%= item.image %>"/>
        </div>
    </div>
    
    <div class="form-group row">
        
        <div class="col-md-6">
             <input name="genre" type="hidden" class="form-control" placeholder="Enter Music Genre" value="<%= item.genre %>" />
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-6">
            <input name="quality" type="hidden" class="form-control" placeholder="Enter Item Condition" value="<%= item.quality %>" />
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-6">
             <input name="information" type="hidden" value="<%= item.info %>" />
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-6">
            <input type="hidden" value="<%= item.purpose %>"  name="purpose" />
                
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-6">
            <input type="hidden" value="<%= item.duration %>"  name="duration" />
                
        </div>
    </div>
    
    <div class="form-group row">
        <label for="price" class="col-md-4 col-form-label text-md-right">Place Bid</label>
        <div class="col-md-6">
             <input name="price" type="number" class="form-control" placeholder="Enter Item Price" min="<%= parseFloat(item.price) + 1.00%>" value="<%= parseFloat(item.price).toFixed(2) %>" >
        </div>
    </div>
     <div class="col-md-6 offset-md-4">
        <button class="btn btn-primary">Place Bid!</button>
    </div>
 </form>
 

 <% }); %>


    
   

  <!-- Related Projects Row -->
<!--  <h3 class="my-4">Related Projects</h3>-->

<!--  <div class="row">-->

<!--    <div class="col-md-3 col-sm-6 mb-4">-->
<!--      <a href="#">-->
<!--            <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--          </a>-->
<!--    </div>-->

<!--    <div class="col-md-3 col-sm-6 mb-4">-->
<!--      <a href="#">-->
<!--            <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--          </a>-->
<!--    </div>-->

<!--    <div class="col-md-3 col-sm-6 mb-4">-->
<!--      <a href="#">-->
<!--            <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--          </a>-->
<!--    </div>-->

<!--    <div class="col-md-3 col-sm-6 mb-4">-->
<!--      <a href="#">-->
<!--            <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--          </a>-->
<!--    </div>-->

<!--  </div>-->
  <!-- /.row -->

<!--</div>-->
<!-- /.container -->








<% include ../partials/footer %>