<% include ../partials/header %>
<header class="masthead text-white text-justified">
    <div class="overlay" >
      <img src="/vinyl-2573856_1920.jpg" alt="newsImg" style="width:100%;">
    </div>
    <div class="container">
<div class="containerr">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <!--<p><a href="#">Link</a></p>-->
      <!--<p><a href="#">Link</a></p>-->
      <!--<p><a href="#">Link</a></p>-->
    </div>
    <div class="col-sm-12 text-center" > 
      <div style ="background-color: black; opacity: 0.7;">
      <h1>Items Page</h1>
      
      <hr>
      <h2 >Select Item to Buy Now or Place Bid! </h2>
      
      </div> 

        <% products.forEach(function(item) { %>
          <div id="item-cont" style ="margin: 4% ;" >
         
        <% if (item.duration > datenow || item.purpose == "BuyNow") {%>

        <figure class="snip1423" style ="height: 601px ;" >
          <img src="/<%= item.image %>" style="width:100%"  />
          <figcaption>
            <h3><%= item.artist %></h3>
            <h3><%= item.album %></h3>
             <h4><%= item.genre %></h4>
            
            <div class="price">
              &euro; <%= parseFloat(item.price).toFixed(2) %>
            </div>
            <p><%= item.purpose %></p>

            <% if (item.purpose == "Auction") {%>

            <% var int_time = parseInt(item.duration); %>
                    <% var d = new Date(int_time); %>
                    
                    <% var endTime = d.toUTCString(); %>
                   
                    
                    <p>Auction Ends: <%= endTime; %></p>
            <% } %>       
         </figcaption>    <i class="fas fa-eye"></i>

           <a style="height: 560px;" href="/item/<%= item.id %>/<%= item.purpose %>" >View</a> 
           
         <% } %>
        </figure>
        

        
        
        
      </div>
        
       <% }); %>

      
    </div>
      </div>
    </div>
  </div>
</div>
</header>


<% include ../partials/footer %>
        
        
        
        
        
        
        
        