<% include ../partials/header %>

 <header class="masthead text-white text-justified">
  <div class="overlay" ><img src="/vinyl-1849717_1920.jpg" alt="newsImg" style="width:100%;"></div>
  <div class="container"> 

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav"> <img src="/vinyl-1233111_1920.jpg" alt="newsImg" style="width:100%;">   
      <p><a class="btn btn-primary" style="margin-top:3%;" href="/additem">Create New Item</a></p>
     
    </div>
    <div class="col-sm-10 text-left"> 
        <h1><span class="fa fa-user"></span> Profile Page</h1>
      <hr>
      <div class="row">

          <!-- LOCAL INFORMATION -->
          <div class="item">
                <h3>
                  <strong class="itemp">Id: </strong><%= user.Id %><br>
                  <strong class="itemp">username: </strong><%= user.username %><br>
                  <strong class="itemp">email: </strong><%= user.email %><br>
                
                </h3>
          </div>
      
        </div>

        <hr>
        <div style="padding-right: 5%;" class="container">
         
	
          <div>
              <% products.forEach(function(item) { %>
                <% if (item.bidding_user_id == user.Id) { %> 
                  <%  if (item.duration < datenow) { %>
                     <h1>
                      Congratulations !!!</h1><img src="/<%= item.image %>" style="width:30%; float:left;" /> <h3 style="width:30%; float:left; ">You Have Won <%= item.album %> by <%= item.artist %> (id:<%= item.id %>) In The Auction. Please Purchase Your Item. <a class="btn btn-primary" style="margin-top: 5%;" href="http://<%= IP %>:<%= PORT %>/item/<%= item.id %>/<%= item.bidding_user_id %>/:params" >Go See Winning Item!</a> </h3>
                      
                   <% } %>
                <% } %>
              <% }); %>  
          </div>

         
        
        </div>
 <hr>

      <h2>Your Items</h2>
      
      <% products.forEach(function(item) { %>
        <div id="item-cont"> 
        <% if (item.Id == user.Id) { %>           
        <div class="figHolder">   
        <div class="snip1423" style ="height: 601px;">
          <img src="/<%= item.image %>" style="width:100%" />
          <figcaption>
            <h3><%= item.Id %></h3>
            <h3><%= item.album %></h3>
             <h4><%= item.genre %></h4>
            
            <div class="price">
              &euro; <%= parseFloat(item.price).toFixed(2) %>
            </div>
            <p><%= item.purpose %></p>

            <% if (item.purpose == "Auction") { %> 
            <% var int_time = parseInt(item.duration); %>
                    <% var d = new Date(int_time); %>
                    
                    <% var endTime = d.toUTCString(); %>
                   
                    
                    <p>Auction Ends: <%= endTime; %></p>

                    <% } %> 

          </figcaption>
          
        </div>

        <div id="editDelete">
        <a href="/edititem/<%= item.id %>" class="btn btn-primary">Edit</a>
        <p class="btn btn-primary" id="doit<%= item.id %>">Delete</a>
        <p id="yes<%= item.id %>" style="display:none">
        Are you sure?
                              <a href="/delete/<%= item.id %>" class="btn btn-primary">Yes</a>
                   </p>
                   
                   <script>
                     $(document).ready(function(){
                       $("#doit<%= item.id %>").click(function(){
                         $("#yes<%= item.id %>").fadeIn(2000); 
                         
                       })
                       
                     })
                     
                   </script>
        </div>

      </div>

      

        <% } %>

        <% }); %>

    
       
   
      <div class="row">

        
          
        </div>
      </div>
    </div>
  </div>
</header>

<% include ../partials/footer %>