<% include ../partials/header %>


<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="/additem">Create New Item</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      
      <hr>
      <h3>Test</h3>
       <div id="item-cont">
        <% if (products.user_Id == user.Id) { %>
        <% products.forEach(function(item) { %>
         
           <!--<div></div><a class="btn btn-primary" href="/item/<%= item.id %>" >View</a> </div>-->
           <div><a class="btn btn-primary" href="/delete/<%= item.id %>" >Delete</a> </div>
           <div><a class="btn btn-primary" href="/edititem/<%= item.id %>" >Edit</a> </div>
           <div style="padding-bottom: 1%"><a class="btn btn-primary" href="/addtocart/<%= item.id %>" >Add to Cart</a> </div>
        <figure class="snip1423">
          <img src="/<%= item.image %>" />
          <figcaption>
            <h3><%= item.user_Id %></h3>
            <h3><%= item.album %></h3>
             <h4><%= item.genre %></h4>
            <p><%= item.info %></p>
            <div class="price">
              &euro; <%= parseFloat(item.price).toFixed(2) %>
            </div>
            <p><%= item.purpose %></p>
          </figcaption><i class="ion-android-cart"></i>
        </figure>
        
       <% }); %>
       
       <% } else { %>
       
       <h2>No Items to trade, Please Create new Items</h2>
       
       <% } %>
      <div class="row">
<div class="container">

	<div class="item">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="item">

			

					<p>
						<strong class="itemp">Id: </strong><%= user.Id %><br>
						<strong class="itemp">username: </strong><%= user.username %><br>
						<strong class="itemp">email: </strong><%= user.email %><br>
						<strong class="itemp">password: </strong><%= user.password %>
					</p>


		
		</div>

	</div>

</div>
  </div>
      
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>